# **ETL Project: TMDB Trending Movies**

Outline.
1. **Extraction**: Retrieve data from TMDB API (trending movies, genres, and movie details)

1. **Transformation**: Clean the data and create a day-to-day trending movies table

1. **Load**: Upload processed data to BigQuery data warehouse and create a single-page Looker dashboard

In [ ]:
import pandas as pd
import numpy as np
import requests
import datetime
import os
from dotenv import load_dotenv

https://developer.themoviedb.org/reference

## 1. Extraction from TMDB API

- **OVERVIEW**:

- **Endpoint identification**: Which endpoint provides daily trending movie data?


- **Initial test**: Extract one page of daily trending movies to verify the connection

- **Full extraction**: Extract top 100 daily trending movies and verify the dataset contains exactly 100 rows

- **Genre extracting**: Extract all available genres from TMDB

- **Detailed Movie Data Extraction**: Retrieve detailed data for the top 100 trending movies


<div class="alert alert-block alert-warning"><span style="color:black">

**NOTE:**

- Obtain your **API Read Access Token** (not from the API Key section) from the TMDB website at: https://www.themoviedb.org/settings/api

- Use API **v3** for all requests


</div></span>

In [ ]:
# 1a. Define CREDENTIAL (Credentials)
# API Key bisa didapatkan dari website TMDB

load_dotenv()
TMDB_API_KEY = os.getenv("TMDB_API_KEY")
GCP_PROJECT_ID = os.getenv("GCP_PROJECT_ID")
BQ_DATASET = os.getenv("BQ_DATASET")

- **First, determine base url for API v3!**

- https://developer.themoviedb.org/reference

In [3]:
# 1b. Define BASE_URL endpoint
BASE_URL = 'https://api.themoviedb.org/3/movie'

In [4]:
url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4NzkzYmNiNTFiY2YwOWVlOGI2ZTJlODRiNGNiMWFhOCIsIm5iZiI6MTc2MDI2MzI0Mi44MTYsInN1YiI6IjY4ZWI3YzRhZjE1YjhkNGY0YTlmZGM4OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.WCBeT0JLNYJOsVTsmvfYXYQymkeYA2sF3bkZt8uOZ6A"
}

response = requests.get(url, headers=headers)

print(response.text)

{"success":true}

In [5]:
# 1c. Make function to request

def get_data(base_url ,endpoint, api_key, query_params=""):
    '''

    Args:
        base_url (str): Base URL.
        endpoint (str): Endpoint URL.
        api_key (str): API KEY.

    Returns:
        dict: Response.
    '''
    header = {
        'accept': 'application/json',
        'Authorization': f'Bearer {api_key}'
    }
    url = base_url + endpoint + query_params
    return requests.get(url, headers=header)

In [ ]:
BASE_URL = "https://api.themoviedb.org/3/"
ENDPOINT = "trending/movie/day?"
API_KEY = os.getenv("TMDB_API_KEY")
PARAMS = "?language=en-US&page=1"

response = get_data(BASE_URL, ENDPOINT, API_KEY, PARAMS)
print(response.json())  # jika fungsi belum pakai .json() di return

{'page': 1, 'results': [{'adult': False, 'backdrop_path': '/a9SLDj7GPKxeuOjoYkgr5nz1IOl.jpg', 'id': 1290879, 'title': 'The Woman in Cabin 10', 'original_title': 'The Woman in Cabin 10', 'overview': 'On a lavish yacht for an assignment, a journalist sees a passenger go overboard. But when no one believes her, she risks her life to uncover the truth.', 'poster_path': '/4kpdyePOlcELQQJcxXPF5GB1Adw.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [9648, 18, 53], 'popularity': 192.9181, 'release_date': '2025-10-09', 'video': False, 'vote_average': 6.2, 'vote_count': 142}, {'adult': False, 'backdrop_path': '/pUNfHmVqfwRdILhCkU8TdysVOXo.jpg', 'id': 533533, 'title': 'TRON: Ares', 'original_title': 'TRON: Ares', 'overview': "A highly sophisticated Program called Ares is sent from the digital world into the real world on a dangerous mission, marking humankind's first encounter with A.I. beings.", 'poster_path': '/chpWmskl3aKm1aTZqUHRCtviwPy.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [878, 12, 28], 'popularity': 173.6886, 'release_date': '2025-10-08', 'video': False, 'vote_average': 6.684, 'vote_count': 152}, {'adult': False, 'backdrop_path': '/9DYFYhmbXRGsMhfUgXM3VSP9uLX.jpg', 'id': 1038392, 'title': 'The Conjuring: Last Rites', 'original_title': 'The Conjuring: Last Rites', 'overview': 'Paranormal investigators Ed and Lorraine Warren take on one last terrifying case involving mysterious entities they must confront.', 'poster_path': '/gXMnx7C3cufzBHPZynWZLUHOMOT.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [27], 'popularity': 671.1516, 'release_date': '2025-09-03', 'video': False, 'vote_average': 6.945, 'vote_count': 872}, {'adult': False, 'backdrop_path': '/538U9snNc2fpnOmYXAPUh3zn31H.jpg', 'id': 575265, 'title': 'Mission: Impossible - The Final Reckoning', 'original_title': 'Mission: Impossible - The Final Reckoning', 'overview': "Ethan Hunt and team continue their search for the terrifying AI known as the Entity — which has infiltrated intelligence networks all over the globe — with the world's governments and a mysterious ghost from Hunt's past on their trail. Joined by new allies and armed with the means to shut the Entity down for good, Hunt is in a race against time to prevent the world as we know it from changing forever.", 'poster_path': '/z53D72EAOxGRqdr7KXXWp9dJiDe.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [28, 12, 53], 'popularity': 131.5535, 'release_date': '2025-05-17', 'video': False, 'vote_average': 7.262, 'vote_count': 1907}, {'adult': False, 'backdrop_path': '/da1mXvCrQrFcw6BxovCavBFbIvz.jpg', 'id': 1251717, 'title': 'Vicious', 'original_title': 'Vicious', 'overview': 'When Polly (Dakota Fanning) receives a mysterious box, it comes with one rule: place inside something she needs, something she hates, and something she loves. If she doesn’t obey, it will consume everything—and everyone—she’s ever known.', 'poster_path': '/shKGDGrwqmc9x2aTJcQszoXinq0.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [27, 53], 'popularity': 164.8589, 'release_date': '2025-09-19', 'video': False, 'vote_average': 6.044, 'vote_count': 34}, {'adult': False, 'backdrop_path': '/7FnmZCAjAwaHydgpjFKnu11MoWs.jpg', 'id': 617126, 'title': 'The Fantastic 4: First Steps', 'original_title': 'The Fantastic 4: First Steps', 'overview': "Against the vibrant backdrop of a 1960s-inspired, retro-futuristic world, Marvel's First Family is forced to balance their roles as heroes with the strength of their family bond, while defending Earth from a ravenous space god called Galactus and his enigmatic Herald, Silver Surfer.", 'poster_path': '/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [878, 12], 'popularity': 243.7176, 'release_date': '2025-07-23', 'video': False, 'vote_average': 7.154, 'vote_count': 1946}, {'adult': False, 'backdrop_path': '/4QXRStvIJHsHLUf6hr7aweMX7em.jpg', 'id': 7451, 'title': 'xXx', 'original_title': 'xXx', 'overview': 'Xander Cage is your standard adrenaline junkie with no fear and a lousy attitude. When the US Government "recruits" him to go on a mission, he\'s not exactly thrilled. His mission: to gather information on an organization that may just be planning the destruction of the world, led by the nihilistic Yorgi.', 'poster_path': '/xeEw3eLeSFmJgXZzmF2Efww0q3s.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [28, 12, 53, 80], 'popularity': 110.2722, 'release_date': '2002-08-09', 'video': False, 'vote_average': 5.966, 'vote_count': 4583}, {'adult': False, 'backdrop_path': '/vUmeBHiGp5r2ydd8aEvbNLamTVD.jpg', 'id': 97, 'title': 'Tron', 'original_title': 'Tron', 'overview': 'When brilliant video game maker Flynn hacks the mainframe of his ex-employer, he is beamed inside an astonishing digital world...And becomes part of the very game he is designing. In his mission through cyberspace, Flynn matches wits with a maniacal Master Control Program and teams up with Tron, a security measure created to bring balance to the digital environment.', 'poster_path': '/zwSFEczP7AzqugAHHIX3zHniT0t.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [878, 28, 12], 'popularity': 32.3935, 'release_date': '1982-07-09', 'video': False, 'vote_average': 6.658, 'vote_count': 2503}, {'adult': False, 'backdrop_path': '/eGX66zonvc4bXg3rM08RUxdYSDx.jpg', 'id': 1061474, 'title': 'Superman', 'original_title': 'Superman', 'overview': 'Superman, a journalist in Metropolis, embarks on a journey to reconcile his Kryptonian heritage with his human upbringing as Clark Kent.', 'poster_path': '/wPLysNDLffQLOVebZQCbXJEv6E6.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [878, 12, 28], 'popularity': 135.7187, 'release_date': '2025-07-09', 'video': False, 'vote_average': 7.4, 'vote_count': 3569}, {'adult': False, 'backdrop_path': '/Q2OajDi2kcO6yErb1IAyVDTKMs.jpg', 'id': 1078605, 'title': 'Weapons', 'original_title': 'Weapons', 'overview': 'When all but one child from the same class mysteriously vanish on the same night at exactly the same time, a community is left questioning who or what is behind their disappearance.', 'poster_path': '/cpf7vsRZ0MYRQcnLWteD5jK9ymT.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [27, 9648], 'popularity': 117.4735, 'release_date': '2025-08-04', 'video': False, 'vote_average': 7.406, 'vote_count': 1861}, {'adult': False, 'backdrop_path': '/uUa6jgSr5BQpcBhhaz1PV1JhSa4.jpg', 'id': 20526, 'title': 'TRON: Legacy', 'original_title': 'TRON: Legacy', 'overview': "Sam Flynn, the tech-savvy and daring son of Kevin Flynn, investigates his father's disappearance and is pulled into The Grid. With the help of a mysterious program named Quorra, Sam quests to stop evil dictator Clu from crossing into the real world.", 'poster_path': '/vuifSABRpSnxCAOxEnWpNbZSXpp.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [12, 28, 878], 'popularity': 46.4743, 'release_date': '2010-12-14', 'video': False, 'vote_average': 6.517, 'vote_count': 7509}, {'adult': False, 'backdrop_path': '/ZtcGMc204JsNqfjS9lU6udRgpo.jpg', 'id': 911430, 'title': 'F1', 'original_title': 'F1', 'overview': 'Racing legend Sonny Hayes is coaxed out of retirement to lead a struggling Formula 1 team—and mentor a young hotshot driver—while chasing one more chance at glory.', 'poster_path': '/9PXZIUsSDh4alB80jheWX4fhZmy.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [28, 18], 'popularity': 101.8913, 'release_date': '2025-06-25', 'video': False, 'vote_average': 7.833, 'vote_count': 2352}, {'adult': False, 'backdrop_path': '/jzzpCJWkVZZwAxzzLmtYN0MBWFd.jpg', 'id': 986097, 'title': 'HIM', 'original_title': 'HIM', 'overview': "After suffering a potentially career-ending brain trauma, Cameron Cade receives a lifeline when his hero, legendary eight-time Championship quarterback and cultural megastar Isaiah White, offers to train Cam at Isaiah's isolated compound that he shares with his celebrity influencer wife. But as Cam's training accelerates, Isaiah's charisma begins to curdle into something darker.", 'poster_path': '/qPJzcYR2f1O1uynYBCVPPJuOiAH.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [27, 9648], 'popularity': 198.584, 'release_date': '2025-09-18', 'video': False, 'vote_average': 5.721, 'vote_count': 113}, {'adult': False, 'backdrop_path': '/lL4zajQbvvo63z2CNu36Ue6wpBX.jpg', 'id': 1236470, 'title': 'The Lost Bus', 'original_title': 'The Lost Bus', 'overview': 'A determined father risks everything to rescue a dedicated teacher and her students from a raging wildfire.', 'poster_path': '/zpygCOYY1DPBkeUsrrznLRN5js5.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [18, 9648, 53], 'popularity': 108.0113, 'release_date': '2025-09-19', 'video': False, 'vote_average': 7.17, 'vote_count': 259}, {'adult': False, 'backdrop_path': '/c2dPK558peXs9QzacwzHYQqqS2r.jpg', 'id': 1277988, 'title': 'Caramelo', 'original_title': 'Caramelo', 'overview': 'After a life-changing diagnosis, a promising chef finds hope and humor with the help of a fur-midable dog friend.', 'poster_path': '/ur3H6g9xmrLQX2Ioh9z3P904ZSC.jpg', 'media_type': 'movie', 'original_language': 'pt', 'genre_ids': [35, 18], 'popularity': 112.972, 'release_date': '2025-10-08', 'video': False, 'vote_average': 6.78, 'vote_count': 42}, {'adult': False, 'backdrop_path': '/zpEWFNqoN8Qg1SzMMHmaGyOBTdW.jpg', 'id': 1054867, 'title': 'One Battle After Another', 'original_title': 'One Battle After Another', 'overview': 'Washed-up revolutionary Bob exists in a state of stoned paranoia, surviving off-grid with his spirited, self-reliant daughter, Willa. When his evil nemesis resurfaces after 16 years and she goes missing, the former radical scrambles to find her, father and daughter both battling the consequences of his past.', 'poster_path': '/m1jFoahEbeQXtx4zArT2FKdbNIj.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [28, 53, 80], 'popularity': 125.5069, 'release_date': '2025-09-23', 'video': False, 'vote_average': 7.804, 'vote_count': 799}, {'adult': False, 'backdrop_path': '/k6tdiMTO39RQj3dhfspuzprfoe0.jpg', 'id': 941109, 'title': 'Play Dirty', 'original_title': 'Play Dirty', 'overview': "Expert thief Parker gets a shot at a major heist, but to pull it off he and his team must outsmart a South American dictator, the New York mob, and the world's richest man.", 'poster_path': '/ovZ0zq0NwRghtWI1oLaM0lWuoEw.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [80], 'popularity': 245.5575, 'release_date': '2025-09-30', 'video': False, 'vote_average': 6.674, 'vote_count': 265}, {'adult': False, 'backdrop_path': '/yQy9Y3p5INwkfTuHSnzYnz4MCV3.jpg', 'id': 1125257, 'title': 'Freakier Friday', 'original_title': 'Freakier Friday', 'overview': 'Years after Tess and Anna endured an identity crisis, Anna now has a daughter of her own and a soon-to-be stepdaughter. As they navigate the myriad challenges that come when two families merge, Tess and Anna discover lightning might indeed strike twice.', 'poster_path': '/9wV65OmsjLAqBfDnYTkMPutXH8j.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [35, 14, 10751], 'popularity': 61.2806, 'release_date': '2025-08-06', 'video': False, 'vote_average': 7.0, 'vote_count': 265}, {'adult': False, 'backdrop_path': '/51jDSREvaYRGjXBKd7jSSoOhFgc.jpg', 'id': 842924, 'title': 'The Life of Chuck', 'original_title': 'The Life of Chuck', 'overview': "In this extraordinary story of an ordinary man, Charles 'Chuck' Krantz experiences the wonder of love, the heartbreak of loss, and the multitudes contained in all of us.", 'poster_path': '/oumprkO9bThExP8NwxBIBnvBu2v.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [14, 18], 'popularity': 22.9571, 'release_date': '2025-06-05', 'video': False, 'vote_average': 7.399, 'vote_count': 455}, {'adult': False, 'backdrop_path': '/f7dSbQy6TluyD3coN461qcHkKLj.jpg', 'id': 928480, 'title': 'Monster Summer', 'original_title': 'Monster Summer', 'overview': 'When a mysterious force begins to disrupt their big summer fun, Noah and his friends team up with a retired police detective to embark on a monstrous adventure to save their island.', 'poster_path': '/zD2UZkh0DwbDEMuOKIR7jgwgulZ.jpg', 'media_type': 'movie', 'original_language': 'en', 'genre_ids': [12, 14, 9648, 27], 'popularity': 10.1756, 'release_date': '2024-10-04', 'video': False, 'vote_average': 6.436, 'vote_count': 118}], 'total_pages': 500, 'total_results': 10000}

### **Endpoint identification**: Which endpoint provides daily trending movie data?

In [7]:
# 1d. Get Trending Movies
response_dict= response.json()

In [8]:
pd.DataFrame(response_dict["results"])

,adult,backdrop_path,id,title,original_title,overview,poster_path,media_type,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count
0,False,/a9SLDj7GPKxeuOjoYkgr5nz1IOl.jpg,1290879,The Woman in Cabin 10,The Woman in Cabin 10,"On a lavish yacht for an assignment, a journal...",/4kpdyePOlcELQQJcxXPF5GB1Adw.jpg,movie,en,"[9648, 18, 53]",192.9181,2025-10-09,False,6.200,142
1,False,/pUNfHmVqfwRdILhCkU8TdysVOXo.jpg,533533,TRON: Ares,TRON: Ares,A highly sophisticated Program called Ares is ...,/chpWmskl3aKm1aTZqUHRCtviwPy.jpg,movie,en,"[878, 12, 28]",173.6886,2025-10-08,False,6.684,152
2,False,/9DYFYhmbXRGsMhfUgXM3VSP9uLX.jpg,1038392,The Conjuring: Last Rites,The Conjuring: Last Rites,Paranormal investigators Ed and Lorraine Warre...,/gXMnx7C3cufzBHPZynWZLUHOMOT.jpg,movie,en,[27],671.1516,2025-09-03,False,6.945,872
3,False,/538U9snNc2fpnOmYXAPUh3zn31H.jpg,575265,Mission: Impossible - The Final Reckoning,Mission: Impossible - The Final Reckoning,Ethan Hunt and team continue their search for ...,/z53D72EAOxGRqdr7KXXWp9dJiDe.jpg,movie,en,"[28, 12, 53]",131.5535,2025-05-17,False,7.262,1907
4,False,/da1mXvCrQrFcw6BxovCavBFbIvz.jpg,1251717,Vicious,Vicious,When Polly (Dakota Fanning) receives a mysteri...,/shKGDGrwqmc9x2aTJcQszoXinq0.jpg,movie,en,"[27, 53]",164.8589,2025-09-19,False,6.044,34
5,False,/7FnmZCAjAwaHydgpjFKnu11MoWs.jpg,617126,The Fantastic 4: First Steps,The Fantastic 4: First Steps,Against the vibrant backdrop of a 1960s-inspir...,/cm8TNGBGG0aBfWj0LgrESHv8tir.jpg,movie,en,"[878, 12]",243.7176,2025-07-23,False,7.154,1946
6,False,/4QXRStvIJHsHLUf6hr7aweMX7em.jpg,7451,xXx,xXx,Xander Cage is your standard adrenaline junkie...,/xeEw3eLeSFmJgXZzmF2Efww0q3s.jpg,movie,en,"[28, 12, 53, 80]",110.2722,2002-08-09,False,5.966,4583
7,False,/vUmeBHiGp5r2ydd8aEvbNLamTVD.jpg,97,Tron,Tron,When brilliant video game maker Flynn hacks th...,/zwSFEczP7AzqugAHHIX3zHniT0t.jpg,movie,en,"[878, 28, 12]",32.3935,1982-07-09,False,6.658,2503
8,False,/eGX66zonvc4bXg3rM08RUxdYSDx.jpg,1061474,Superman,Superman,"Superman, a journalist in Metropolis, embarks ...",/wPLysNDLffQLOVebZQCbXJEv6E6.jpg,movie,en,"[878, 12, 28]",135.7187,2025-07-09,False,7.400,3569
9,False,/Q2OajDi2kcO6yErb1IAyVDTKMs.jpg,1078605,Weapons,Weapons,When all but one child from the same class mys...,/cpf7vsRZ0MYRQcnLWteD5jK9ymT.jpg,movie,en,"[27, 9648]",117.4735,2025-08-04,False,7.406,1861
10,False,/uUa6jgSr5BQpcBhhaz1PV1JhSa4.jpg,20526,TRON: Legacy,TRON: Legacy,"Sam Flynn, the tech-savvy and daring son of Ke...",/vuifSABRpSnxCAOxEnWpNbZSXpp.jpg,movie,en,"[12, 28, 878]",46.4743,2010-12-14,False,6.517,7509
11,False,/ZtcGMc204JsNqfjS9lU6udRgpo.jpg,911430,F1,F1,Racing legend Sonny Hayes is coaxed out of ret...,/9PXZIUsSDh4alB80jheWX4fhZmy.jpg,movie,en,"[28, 18]",101.8913,2025-06-25,False,7.833,2352
12,False,/jzzpCJWkVZZwAxzzLmtYN0MBWFd.jpg,986097,HIM,HIM,After suffering a potentially career-ending br...,/qPJzcYR2f1O1uynYBCVPPJuOiAH.jpg,movie,en,"[27, 9648]",198.5840,2025-09-18,False,5.721,113
13,False,/lL4zajQbvvo63z2CNu36Ue6wpBX.jpg,1236470,The Lost Bus,The Lost Bus,A determined father risks everything to rescue...,/zpygCOYY1DPBkeUsrrznLRN5js5.jpg,movie,en,"[18, 9648, 53]",108.0113,2025-09-19,False,7.170,259
14,False,/c2dPK558peXs9QzacwzHYQqqS2r.jpg,1277988,Caramelo,Caramelo,"After a life-changing diagnosis, a promising c...",/ur3H6g9xmrLQX2Ioh9z3P904ZSC.jpg,movie,pt,"[35, 18]",112.9720,2025-10-08,False,6.780,42
15,False,/zpEWFNqoN8Qg1SzMMHmaGyOBTdW.jpg,1054867,One Battle After Another,One Battle After Another,Washed-up revolutionary Bob exists in a state ...,/m1jFoahEbeQXtx4zArT2FKdbNIj.jpg,movie,en,"[28, 53, 80]",125.5069,2025-09-23,False,7.804,799
16,False,/k6tdiMTO39RQj3dhfspuzprfoe0.jpg,941109,Play Dirty,Play Dirty,Expert thief Parker gets a shot at a major hei...,/ovZ0zq0NwRghtWI1oLaM0lWuoEw.jpg,movie,en,[80],245.5575,2025-09-30,False,6.674,265
17,False,/yQy9Y3p5INwkfTuHSnzYnz4MCV3.jpg,1125257,Freakier Friday,Freakier Friday,Years after Tess and Anna endured an identity ...,/9wV65OmsjLAqBfDnYTkMPutXH8j.jpg,movie,en,"[35, 14, 10751]",61.2806,2025-08-06,False,7.000,265
18,False,/51jDSREvaYRGjXBKd7jSSoOhFgc.jpg,842924,The Life of Chuck,The Life of Chuck,In this extraordinary story of an ordinary man...,/oumprkO9bThExP8NwxBIBnvBu2v.jpg,movie,en,"[14, 18]",22.9571,2025-06-05,False,7.399,455
19,False,/f7dSbQy6TluyD3coN461qcHkKLj.jpg,928480,Monster Summer,Monster Summer,When a mysterious force begins to disrupt thei...,/zD2UZkh0DwbDEMuOKIR7jgwgulZ.jpg,movie,en,"[12, 14, 9648, 27]",10.1756,2024-10-04,False,6.436,118

In [9]:
response_dict.keys()

dict_keys(['page', 'results', 'total_pages', 'total_results'])

In [10]:
response_dict['total_pages']

500

In [11]:
response_dict['total_results']

10000

In [12]:
endpoint = "trending/movie/day?"

In [13]:
list_df = []
for page in range(1, 6):
    query_params = f"?language=en-US&page=1{page}"
    response = get_data(BASE_URL,
                              endpoint,
                              API_KEY,
                              query_params)
    
    dfsementara = pd.DataFrame(response.json()["results"])
    list_df.append(dfsementara)

list_df[0]

,adult,backdrop_path,id,title,original_title,overview,poster_path,media_type,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count
0,False,/9tOkjBEiiGcaClgJFtwocStZvIT.jpg,269149,Zootopia,Zootopia,"Determined to prove herself, Officer Judy Hopp...",/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,movie,en,"[16, 12, 10751, 35]",18.7689,2016-02-11,False,7.751,16978
1,False,/pvxmYJcgrLiYC6G2IQTn1PPNems.jpg,14161,2012,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,movie,en,"[28, 12, 878]",10.9086,2009-10-10,False,5.863,12342
2,False,/uLtVbjvS1O7gXL8lUOwsFOH4man.jpg,118340,Guardians of the Galaxy,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,movie,en,"[28, 878, 12]",9.2389,2014-07-30,False,7.904,28938
3,False,/WVCy8tL18tDQ9oxnqgbW9nmumZ.jpg,1477448,Haul Out the Halloween,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,movie,en,[35],4.4106,2025-10-11,False,9.000,2
4,False,/iR79ciqhtaZ9BE7YFA1HpCHQgX4.jpg,1100782,Smile 2,Smile 2,"About to embark on a new world tour, global po...",/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,movie,en,"[27, 9648]",16.9555,2024-10-16,False,6.606,1824
5,False,/rrCc7dONpjAt8N8VO0dGpdIXCVU.jpg,22,Pirates of the Caribbean: The Curse of the Bla...,Pirates of the Caribbean: The Curse of the Bla...,After Port Royal is attacked and pillaged by a...,/z8onk7LV9Mmw6zKz4hT6pzzvmvl.jpg,movie,en,"[12, 14, 28]",20.5281,2003-07-09,False,7.815,21499
6,False,/8rpDcsfLJypbO6vREc0547VKqEv.jpg,76600,Avatar: The Way of Water,Avatar: The Way of Water,Set more than a decade after the events of the...,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,movie,en,"[28, 12, 14, 878]",44.3543,2022-12-14,False,7.610,12942
7,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,680,Pulp Fiction,Pulp Fiction,"A burger-loving hit man, his philosophical par...",/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg,movie,en,"[53, 80, 35, 18]",19.0995,1994-09-10,False,8.487,29156
8,False,/msYmRFJfXy0zsFd73PAEqdetKpO.jpg,1894,Star Wars: Episode II - Attack of the Clones,Star Wars: Episode II - Attack of the Clones,Following an assassination attempt on Senator ...,/oZNPzxqM2s5DyVWab09NTQScDQt.jpg,movie,en,"[12, 28, 878]",6.4888,2002-05-15,False,6.585,13834
9,False,/wSJHuSD7ojzoXifWjOAjxV7UpEL.jpg,354912,Coco,Coco,Despite his family’s baffling generations-old ...,/6Ryitt95xrO8KXuqRGm1fUuNwqF.jpg,movie,en,"[10751, 16, 10402, 12]",35.9590,2017-10-27,False,8.202,20287
10,False,/hGGC9gKo7CFE3fW07RA587e5kol.jpg,14160,Up,Up,Carl Fredricksen spent his entire life dreamin...,/mFvoEwSfLqbcWwFsDjQebn9bzFe.jpg,movie,en,"[16, 35, 10751, 12]",14.3840,2009-05-28,False,7.959,21014
11,False,/z51Wzj94hvAIsWfknifKTqKJRwp.jpg,120,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg,movie,en,"[12, 14, 28]",28.1279,2001-12-18,False,8.425,26463
12,False,/r17jFHAemzcWPPtoO0UxjIX0xas.jpg,324552,John Wick: Chapter 2,John Wick: Chapter 2,John Wick is forced out of retirement by a for...,/hXWBc0ioZP3cN4zCu6SN3YHXZVO.jpg,movie,en,"[28, 53, 80]",13.1303,2017-02-08,False,7.339,13728
13,False,/8lBcqakI3F19NWkXdqE0M8W76b9.jpg,197,Braveheart,Braveheart,"Enraged at the slaughter of Murron, his new br...",/or1gBugydmjToAEq7OZY0owwFk.jpg,movie,en,"[28, 18, 36, 10752]",9.5884,1995-05-24,False,7.943,10639
14,False,/qS2rFOmMD6ExjMqDun96efA2MIa.jpg,1039659,Winner,Winner,Winner is a brilliant young misfit from Texas ...,/wvTlXCh0XKukjsQtFGC4qtnO6Cz.jpg,movie,en,"[35, 18]",1.3750,2024-09-13,False,7.000,58
15,False,/ew5FcYiRhTYNJAkxoVPMNlCOdVn.jpg,272,Batman Begins,Batman Begins,"Driven by tragedy, billionaire Bruce Wayne ded...",/sPX89Td70IDDjVr85jdSBb4rWGr.jpg,movie,en,"[18, 80, 28]",15.5031,2005-06-10,False,7.718,21861
16,False,/ag66gJCiZ06q1GSJuQlhGLi3Udx.jpg,1138194,Heretic,Heretic,Two young missionaries are forced to prove the...,/fr96XzlzsONrQrGfdLMiwtQjott.jpg,movie,en,"[27, 53]",13.8465,2024-10-31,False,6.980,2193
17,False,/dTGECn8He16tZeBHQTLf6rVydE8.jpg,302946,The Accountant,The Accountant,As a math savant uncooks the books for a new c...,/fceheXB5fC4WrLVuWJ6OZv9FXYr.jpg,movie,en,"[80, 53, 18]",7.9941,2016-10-13,False,7.127,6997
18,False,/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg,372058,Your Name.,君の名は。,High schoolers Mitsuha and Taki are complete s...,/q719jXXEzOoYaps6babgKnONONX.jpg,movie,ja,"[16, 10749, 18]",12.6277,2016-08-26,False,8.479,12034
19,False,/qAzYK4YPSWDc7aa4R43LcwRIAyb.jpg,299537,Captain Marvel,Captain Marvel,The story follows Carol Danvers as she becomes...,/AtsgWhDnHTq68L0lLsUrCnM7TjG.jpg,movie,en,"[28, 12, 878]",7.2846,2019-03-06,False,6.793,16302

In [14]:
df_trend_100= pd.concat(list_df,axis=0, ignore_index=True)
df_trend_100

,adult,backdrop_path,id,title,original_title,overview,poster_path,media_type,original_language,genre_ids,popularity,release_date,video,vote_average,vote_count
0,False,/9tOkjBEiiGcaClgJFtwocStZvIT.jpg,269149,Zootopia,Zootopia,"Determined to prove herself, Officer Judy Hopp...",/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,movie,en,"[16, 12, 10751, 35]",18.7689,2016-02-11,False,7.751,16978
1,False,/pvxmYJcgrLiYC6G2IQTn1PPNems.jpg,14161,2012,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,movie,en,"[28, 12, 878]",10.9086,2009-10-10,False,5.863,12342
2,False,/uLtVbjvS1O7gXL8lUOwsFOH4man.jpg,118340,Guardians of the Galaxy,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,movie,en,"[28, 878, 12]",9.2389,2014-07-30,False,7.904,28938
3,False,/WVCy8tL18tDQ9oxnqgbW9nmumZ.jpg,1477448,Haul Out the Halloween,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,movie,en,[35],4.4106,2025-10-11,False,9.000,2
4,False,/iR79ciqhtaZ9BE7YFA1HpCHQgX4.jpg,1100782,Smile 2,Smile 2,"About to embark on a new world tour, global po...",/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,movie,en,"[27, 9648]",16.9555,2024-10-16,False,6.606,1824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,/mmd1HnuvAzFc4iuVJcnBrhDNEKr.jpg,694,The Shining,The Shining,Jack Torrance accepts a caretaker job at the O...,/xazWoLealQwEgqZ89MLZklLZD3k.jpg,movie,en,"[27, 53]",11.0600,1980-05-23,False,8.200,18239
96,False,/mufF1aYvwdpKerhq5R1YrVcbJLY.jpg,539,Psycho,Psycho,When larcenous real estate clerk Marion Crane ...,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,movie,en,"[27, 53, 9648]",15.7327,1960-06-22,False,8.421,10547
97,False,/rAgsOIhqRS6tUthmHoqnqh9PIAE.jpg,436969,The Suicide Squad,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",/q61qEyssk2ku3okWICKArlAdhBn.jpg,movie,en,"[28, 35, 12]",18.7910,2021-06-06,False,7.500,9179
98,False,/hiiatSDvDfyWQZNaCpqTgac3rYd.jpg,1102558,Pursued,Pursued,After the death of her father a young woman st...,/9htwnq0A79EWs674yu6ytwRSf4T.jpg,movie,en,[53],3.1441,2023-03-25,False,0.000,0
99,False,/scQf03Fm3jeyv4FH04qvi4fp4wh.jpg,402900,Ocean's Eight,Ocean's Eight,"Debbie Ocean, a criminal mastermind, gathers a...",/MvYpKlpFukTivnlBhizGbkAe3v.jpg,movie,en,"[80, 35, 28]",7.3174,2018-06-07,False,6.968,8541

In [15]:
# 1f. Get Genre detail
endpoint = "genre/movie/list"

In [16]:
query_params = f"?language=en-US&page=1"
response = get_data(BASE_URL,
                    endpoint,
                    API_KEY,
                    query_params)
response

In [17]:
response.json()['genres']

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 80, 'name': 'Crime'},
 {'id': 99, 'name': 'Documentary'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 36, 'name': 'History'},
 {'id': 27, 'name': 'Horror'},
 {'id': 10402, 'name': 'Music'},
 {'id': 9648, 'name': 'Mystery'},
 {'id': 10749, 'name': 'Romance'},
 {'id': 878, 'name': 'Science Fiction'},
 {'id': 10770, 'name': 'TV Movie'},
 {'id': 53, 'name': 'Thriller'},
 {'id': 10752, 'name': 'War'},
 {'id': 37, 'name': 'Western'}]

In [18]:
df_genre=pd.DataFrame(response.json()['genres'])
df_genre

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [19]:
df_trend_100["id"]

0      269149
1       14161
2      118340
3     1477448
4     1100782
       ...
95        694
96        539
97     436969
98    1102558
99     402900
Name: id, Length: 100, dtype: int64

- Example response for `movie_id`=1038392:

In [20]:
endpoint = "/movie/1038392"
response_tm = get_data(BASE_URL,
                       endpoint,
                       API_KEY)
response_tm

In [21]:
pd.set_option('display.max_columns', None)

In [22]:
pd.DataFrame([response_tm.json()])

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/9DYFYhmbXRGsMhfUgXM3VSP9uLX.jpg,"{'id': 313086, 'name': 'The Conjuring Collecti...",55000000,"[{'id': 27, 'name': 'Horror'}]",http://www.theconjuringmovie.com,1038392,tt22898462,[US],en,The Conjuring: Last Rites,Paranormal investigators Ed and Lorraine Warre...,650.5492,/gXMnx7C3cufzBHPZynWZLUHOMOT.jpg,"[{'id': 12, 'logo_path': '/2ycs64eqV5rqKYHyQK0...","[{'iso_3166_1': 'US', 'name': 'United States o...",2025-09-03,473042000,135,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The case that ended it all.,The Conjuring: Last Rites,False,6.936,857

In [23]:
df_trend_100['id']

0      269149
1       14161
2      118340
3     1477448
4     1100782
       ...
95        694
96        539
97     436969
98    1102558
99     402900
Name: id, Length: 100, dtype: int64

In [24]:
list_movie_detail_rows = []
for id in df_trend_100['id']:
    endpoint = f"/movie/{id}"
    response_tm = get_data(BASE_URL,
                        endpoint,
                        API_KEY)
    list_movie_detail_rows.append(response_tm.json())

In [25]:
df_trend_100_details = pd.DataFrame(list_movie_detail_rows)
df_trend_100_details

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/9tOkjBEiiGcaClgJFtwocStZvIT.jpg,"{'id': 1084247, 'name': 'Zootopia Collection',...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",http://movies.disney.com/zootopia,269149,tt2948356,[US],en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",17.8957,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,"[{'id': 6125, 'logo_path': '/tzsMJBJZINu7GHzrp...","[{'iso_3166_1': 'US', 'name': 'United States o...",2016-02-11,1025521689,109,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Welcome to the urban jungle.,Zootopia,False,7.751,16976
1,False,/pvxmYJcgrLiYC6G2IQTn1PPNems.jpg,None,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/2012,14161,tt1190080,[US],en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8.8947,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,"[{'id': 5, 'logo_path': '/71BqEFAF4V3qjjMPCpLu...","[{'iso_3166_1': 'US', 'name': 'United States o...",2009-10-10,791217826,158,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,We Were Warned.,2012,False,5.863,12342
2,False,/uLtVbjvS1O7gXL8lUOwsFOH4man.jpg,"{'id': 284433, 'name': 'Guardians of the Galax...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",https://www.marvel.com/movies/guardians-of-the...,118340,tt2015381,[US],en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",9.8085,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2014-07-30,772776600,121,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"When things get bad, they'll do their worst.",Guardians of the Galaxy,False,7.904,28938
3,False,/WVCy8tL18tDQ9oxnqgbW9nmumZ.jpg,"{'id': 1188730, 'name': 'Haul Out The Holly Co...",0,"[{'id': 35, 'name': 'Comedy'}]",https://www.hallmarkchannel.com/haul-out-the-h...,1477448,tt37211211,[US],en,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",2.9390,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,[],[],2025-10-11,0,84,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The block full of neighborly spirits.,Haul Out the Halloween,False,9.000,1
4,False,/iR79ciqhtaZ9BE7YFA1HpCHQgX4.jpg,"{'id': 1100788, 'name': 'Smile Collection', 'p...",28000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",https://www.smile.movie,1100782,tt29268110,[US],en,Smile 2,"About to embark on a new world tour, global po...",13.9697,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,"[{'id': 4, 'logo_path': '/jay6WcMgagAklUt7i9Eu...","[{'iso_3166_1': 'US', 'name': 'United States o...",2024-10-16,138128854,127,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,It's the last thing you'll see.,Smile 2,False,6.600,1821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,/mmd1HnuvAzFc4iuVJcnBrhDNEKr.jpg,"{'id': 530064, 'name': 'The Shining Collection...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",,694,tt0081505,[US],en,The Shining,Jack Torrance accepts a caretaker job at the O...,11.6095,/xazWoLealQwEgqZ89MLZklLZD3k.jpg,"[{'id': 174, 'logo_path': '/kgJaIcKZZK4lTazer5...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1980-05-23,44781695,144,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A masterpiece of modern horror.,The Shining,False,8.208,18238
96,False,/mufF1aYvwdpKerhq5R1YrVcbJLY.jpg,"{'id': 119674, 'name': 'Psycho Collection', 'p...",806947,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",,539,tt0054215,[US],en,Psycho,When larcenous real estate clerk Marion Crane ...,15.2826,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,"[{'id': 10717, 'logo_path': None, 'name': 'Sha...","[{'iso_3166_1': 'US', 'name': 'United States o...",1960-06-22,50048065,109,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A new and altogether different screen excitement!,Psycho,False,8.421,10547
97,False,/rAgsOIhqRS6tUthmHoqnqh9PIAE.jpg,"{'id': 531242, 'name': 'Suicide Squad Collecti...",185000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.thesuicidesquad.net,436969,tt6334354,[US],en,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",17.0055,/q61qEyssk2ku3okWICKArlAdhBn.jpg,"[{'id': 128064, 'logo_path': '/13F3Jf7EFAcREU0...","[{'iso_3166_1': 'US', 'name': 'United States o...",2021-06-06,168717425,132,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They’re dying to save the world.,The Suicide Squad,False,7.500,9179
98,False,/hiiatSDvDfyWQZNaCpqTgac3rYd.jpg,None,0,"[{'id': 53, 'name': 'Thriller'}]",,1102558,tt8268028,[US],en,Pursued,After the death of her father a young woman st...,1.6704,/9htwnq0A79EWs674yu6ytwRSf4T.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2023-03-25,0,105,[],Released,,Pursued,False,0.000,0
99,False,/scQf03Fm3jeyv4FH04qvi4fp4wh.jpg,None,70000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",https://www.warnerbros.com/movies/oceans-8,402900,tt5164214,[US],en,Ocean's Eight,"Debbie Ocean, a criminal mastermind, gathers a...",7.2592,/MvYpKlpFukTivnlBhizGbkAe3v.jpg,"[{'id': 79, 'logo_path': '/at4uYdwAAgNRKhZuuFX...","[{'iso_3166_1': 'US', 'name': 'United States o...",2018-06-07,297718711,111,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,Every con has its pros,Ocean's Eight,False,6.968,8540

## 2. Data Transformation

In [26]:
df_trend_100_details.drop(columns=["adult", "imdb_id", "belongs_to_collection", "homepage", 
                                   "backdrop_path", "production_companies", "production_countries", "video", "spoken_languages", "origin_country"],
                                   inplace=True)

df_trend_100_details

,budget,genres,id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
0,150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",17.8957,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,1025521689,109,Released,Welcome to the urban jungle.,Zootopia,7.751,16976
1,200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",14161,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8.8947,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,2009-10-10,791217826,158,Released,We Were Warned.,2012,5.863,12342
2,170000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",118340,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",9.8085,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,2014-07-30,772776600,121,Released,"When things get bad, they'll do their worst.",Guardians of the Galaxy,7.904,28938
3,0,"[{'id': 35, 'name': 'Comedy'}]",1477448,en,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",2.9390,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,2025-10-11,0,84,Released,The block full of neighborly spirits.,Haul Out the Halloween,9.000,1
4,28000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",1100782,en,Smile 2,"About to embark on a new world tour, global po...",13.9697,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,2024-10-16,138128854,127,Released,It's the last thing you'll see.,Smile 2,6.600,1821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",694,en,The Shining,Jack Torrance accepts a caretaker job at the O...,11.6095,/xazWoLealQwEgqZ89MLZklLZD3k.jpg,1980-05-23,44781695,144,Released,A masterpiece of modern horror.,The Shining,8.208,18238
96,806947,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",539,en,Psycho,When larcenous real estate clerk Marion Crane ...,15.2826,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,1960-06-22,50048065,109,Released,A new and altogether different screen excitement!,Psycho,8.421,10547
97,185000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",436969,en,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",17.0055,/q61qEyssk2ku3okWICKArlAdhBn.jpg,2021-06-06,168717425,132,Released,They’re dying to save the world.,The Suicide Squad,7.500,9179
98,0,"[{'id': 53, 'name': 'Thriller'}]",1102558,en,Pursued,After the death of her father a young woman st...,1.6704,/9htwnq0A79EWs674yu6ytwRSf4T.jpg,2023-03-25,0,105,Released,,Pursued,0.000,0
99,70000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",402900,en,Ocean's Eight,"Debbie Ocean, a criminal mastermind, gathers a...",7.2592,/MvYpKlpFukTivnlBhizGbkAe3v.jpg,2018-06-07,297718711,111,Released,Every con has its pros,Ocean's Eight,6.968,8540

In [27]:
df_trend_100_details["genres"] = df_trend_100["genre_ids"]
df_trend_100_details.head()

,budget,genres,id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
0,150000000,"[16, 12, 10751, 35]",269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",17.8957,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,1025521689,109,Released,Welcome to the urban jungle.,Zootopia,7.751,16976
1,200000000,"[28, 12, 878]",14161,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8.8947,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,2009-10-10,791217826,158,Released,We Were Warned.,2012,5.863,12342
2,170000000,"[28, 878, 12]",118340,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",9.8085,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,2014-07-30,772776600,121,Released,"When things get bad, they'll do their worst.",Guardians of the Galaxy,7.904,28938
3,0,[35],1477448,en,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",2.9390,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,2025-10-11,0,84,Released,The block full of neighborly spirits.,Haul Out the Halloween,9.000,1
4,28000000,"[27, 9648]",1100782,en,Smile 2,"About to embark on a new world tour, global po...",13.9697,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,2024-10-16,138128854,127,Released,It's the last thing you'll see.,Smile 2,6.600,1821

### Create `df_movie_genre_id` from `df_trend_100_details` with column names `movie_id` and `genre_id`

In [28]:
df_trend_100_details['genre_id'] = df_trend_100_details['genres'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
df_trend_100_details.rename(columns={"id": "movie_id"}, inplace=True)
df_trend_100_details

,budget,genres,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
0,150000000,"[16, 12, 10751, 35]",269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",17.8957,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,1025521689,109,Released,Welcome to the urban jungle.,Zootopia,7.751,16976,16
1,200000000,"[28, 12, 878]",14161,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8.8947,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,2009-10-10,791217826,158,Released,We Were Warned.,2012,5.863,12342,28
2,170000000,"[28, 878, 12]",118340,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",9.8085,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,2014-07-30,772776600,121,Released,"When things get bad, they'll do their worst.",Guardians of the Galaxy,7.904,28938,28
3,0,[35],1477448,en,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",2.9390,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,2025-10-11,0,84,Released,The block full of neighborly spirits.,Haul Out the Halloween,9.000,1,35
4,28000000,"[27, 9648]",1100782,en,Smile 2,"About to embark on a new world tour, global po...",13.9697,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,2024-10-16,138128854,127,Released,It's the last thing you'll see.,Smile 2,6.600,1821,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19000000,"[27, 53]",694,en,The Shining,Jack Torrance accepts a caretaker job at the O...,11.6095,/xazWoLealQwEgqZ89MLZklLZD3k.jpg,1980-05-23,44781695,144,Released,A masterpiece of modern horror.,The Shining,8.208,18238,27
96,806947,"[27, 53, 9648]",539,en,Psycho,When larcenous real estate clerk Marion Crane ...,15.2826,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,1960-06-22,50048065,109,Released,A new and altogether different screen excitement!,Psycho,8.421,10547,27
97,185000000,"[28, 35, 12]",436969,en,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",17.0055,/q61qEyssk2ku3okWICKArlAdhBn.jpg,2021-06-06,168717425,132,Released,They’re dying to save the world.,The Suicide Squad,7.500,9179,28
98,0,[53],1102558,en,Pursued,After the death of her father a young woman st...,1.6704,/9htwnq0A79EWs674yu6ytwRSf4T.jpg,2023-03-25,0,105,Released,,Pursued,0.000,0,53
99,70000000,"[80, 35, 28]",402900,en,Ocean's Eight,"Debbie Ocean, a criminal mastermind, gathers a...",7.2592,/MvYpKlpFukTivnlBhizGbkAe3v.jpg,2018-06-07,297718711,111,Released,Every con has its pros,Ocean's Eight,6.968,8540,80

In [29]:
df_movie_genre_id= df_trend_100_details[['movie_id','genre_id']]

In [30]:
df_movie_genre_id.isna().sum()

movie_id    0
genre_id    0
dtype: int64

### Convert `genre_id` into integer

In [31]:
df_movie_genre_id['genre_id'] = df_movie_genre_id['genre_id'].astype(int)
df_movie_genre_id

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20196\3059553953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_genre_id['genre_id'] = df_movie_genre_id['genre_id'].astype(int)

    movie_id  genre_id
0     269149        16
1      14161        28
2     118340        28
3    1477448        35
4    1100782        27
..       ...       ...
95       694        27
96       539        27
97    436969        28
98   1102558        53
99    402900        80

[100 rows x 2 columns]

In [32]:
df_movie_genre_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  100 non-null    int64
 1   genre_id  100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB

### Rename columns in `df_genre`:

- `id` -> `genre_id`

- `name` -> `genre`

In [33]:
df_genre

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [34]:
df_genre.rename(columns={'id': 'genre_id', 'name': 'genre'}, inplace=True)
df_genre

    genre_id            genre
0         28           Action
1         12        Adventure
2         16        Animation
3         35           Comedy
4         80            Crime
5         99      Documentary
6         18            Drama
7      10751           Family
8         14          Fantasy
9         36          History
10        27           Horror
11     10402            Music
12      9648          Mystery
13     10749          Romance
14       878  Science Fiction
15     10770         TV Movie
16        53         Thriller
17     10752              War
18        37          Western

In [35]:
df_genre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genre_id  19 non-null     int64
 1   genre     19 non-null     object
dtypes: int64(1), object(1)
memory usage: 436.0+ bytes

### Drop `genres` column from `df_trend_100_details`

In [36]:
df_trend_100_details

,budget,genres,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
0,150000000,"[16, 12, 10751, 35]",269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",17.8957,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,1025521689,109,Released,Welcome to the urban jungle.,Zootopia,7.751,16976,16
1,200000000,"[28, 12, 878]",14161,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8.8947,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,2009-10-10,791217826,158,Released,We Were Warned.,2012,5.863,12342,28
2,170000000,"[28, 878, 12]",118340,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",9.8085,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,2014-07-30,772776600,121,Released,"When things get bad, they'll do their worst.",Guardians of the Galaxy,7.904,28938,28
3,0,[35],1477448,en,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",2.9390,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,2025-10-11,0,84,Released,The block full of neighborly spirits.,Haul Out the Halloween,9.000,1,35
4,28000000,"[27, 9648]",1100782,en,Smile 2,"About to embark on a new world tour, global po...",13.9697,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,2024-10-16,138128854,127,Released,It's the last thing you'll see.,Smile 2,6.600,1821,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19000000,"[27, 53]",694,en,The Shining,Jack Torrance accepts a caretaker job at the O...,11.6095,/xazWoLealQwEgqZ89MLZklLZD3k.jpg,1980-05-23,44781695,144,Released,A masterpiece of modern horror.,The Shining,8.208,18238,27
96,806947,"[27, 53, 9648]",539,en,Psycho,When larcenous real estate clerk Marion Crane ...,15.2826,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,1960-06-22,50048065,109,Released,A new and altogether different screen excitement!,Psycho,8.421,10547,27
97,185000000,"[28, 35, 12]",436969,en,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",17.0055,/q61qEyssk2ku3okWICKArlAdhBn.jpg,2021-06-06,168717425,132,Released,They’re dying to save the world.,The Suicide Squad,7.500,9179,28
98,0,[53],1102558,en,Pursued,After the death of her father a young woman st...,1.6704,/9htwnq0A79EWs674yu6ytwRSf4T.jpg,2023-03-25,0,105,Released,,Pursued,0.000,0,53
99,70000000,"[80, 35, 28]",402900,en,Ocean's Eight,"Debbie Ocean, a criminal mastermind, gathers a...",7.2592,/MvYpKlpFukTivnlBhizGbkAe3v.jpg,2018-06-07,297718711,111,Released,Every con has its pros,Ocean's Eight,6.968,8540,80

In [37]:
df_trend_100_details.drop(columns='genres', inplace=True)
df_trend_100_details

,budget,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
0,150000000,269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",17.8957,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,1025521689,109,Released,Welcome to the urban jungle.,Zootopia,7.751,16976,16
1,200000000,14161,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8.8947,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,2009-10-10,791217826,158,Released,We Were Warned.,2012,5.863,12342,28
2,170000000,118340,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",9.8085,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,2014-07-30,772776600,121,Released,"When things get bad, they'll do their worst.",Guardians of the Galaxy,7.904,28938,28
3,0,1477448,en,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",2.9390,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,2025-10-11,0,84,Released,The block full of neighborly spirits.,Haul Out the Halloween,9.000,1,35
4,28000000,1100782,en,Smile 2,"About to embark on a new world tour, global po...",13.9697,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,2024-10-16,138128854,127,Released,It's the last thing you'll see.,Smile 2,6.600,1821,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19000000,694,en,The Shining,Jack Torrance accepts a caretaker job at the O...,11.6095,/xazWoLealQwEgqZ89MLZklLZD3k.jpg,1980-05-23,44781695,144,Released,A masterpiece of modern horror.,The Shining,8.208,18238,27
96,806947,539,en,Psycho,When larcenous real estate clerk Marion Crane ...,15.2826,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,1960-06-22,50048065,109,Released,A new and altogether different screen excitement!,Psycho,8.421,10547,27
97,185000000,436969,en,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",17.0055,/q61qEyssk2ku3okWICKArlAdhBn.jpg,2021-06-06,168717425,132,Released,They’re dying to save the world.,The Suicide Squad,7.500,9179,28
98,0,1102558,en,Pursued,After the death of her father a young woman st...,1.6704,/9htwnq0A79EWs674yu6ytwRSf4T.jpg,2023-03-25,0,105,Released,,Pursued,0.000,0,53
99,70000000,402900,en,Ocean's Eight,"Debbie Ocean, a criminal mastermind, gathers a...",7.2592,/MvYpKlpFukTivnlBhizGbkAe3v.jpg,2018-06-07,297718711,111,Released,Every con has its pros,Ocean's Eight,6.968,8540,80

In [38]:
df_trend_100_details

,budget,movie_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,genre_id
0,150000000,269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",17.8957,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,1025521689,109,Released,Welcome to the urban jungle.,Zootopia,7.751,16976,16
1,200000000,14161,en,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",8.8947,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg,2009-10-10,791217826,158,Released,We Were Warned.,2012,5.863,12342,28
2,170000000,118340,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",9.8085,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,2014-07-30,772776600,121,Released,"When things get bad, they'll do their worst.",Guardians of the Galaxy,7.904,28938,28
3,0,1477448,en,Haul Out the Halloween,"New, Halloween-obsessed neighbors inspire resi...",2.9390,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg,2025-10-11,0,84,Released,The block full of neighborly spirits.,Haul Out the Halloween,9.000,1,35
4,28000000,1100782,en,Smile 2,"About to embark on a new world tour, global po...",13.9697,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg,2024-10-16,138128854,127,Released,It's the last thing you'll see.,Smile 2,6.600,1821,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19000000,694,en,The Shining,Jack Torrance accepts a caretaker job at the O...,11.6095,/xazWoLealQwEgqZ89MLZklLZD3k.jpg,1980-05-23,44781695,144,Released,A masterpiece of modern horror.,The Shining,8.208,18238,27
96,806947,539,en,Psycho,When larcenous real estate clerk Marion Crane ...,15.2826,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg,1960-06-22,50048065,109,Released,A new and altogether different screen excitement!,Psycho,8.421,10547,27
97,185000000,436969,en,The Suicide Squad,"Supervillains Harley Quinn, Bloodsport, Peacem...",17.0055,/q61qEyssk2ku3okWICKArlAdhBn.jpg,2021-06-06,168717425,132,Released,They’re dying to save the world.,The Suicide Squad,7.500,9179,28
98,0,1102558,en,Pursued,After the death of her father a young woman st...,1.6704,/9htwnq0A79EWs674yu6ytwRSf4T.jpg,2023-03-25,0,105,Released,,Pursued,0.000,0,53
99,70000000,402900,en,Ocean's Eight,"Debbie Ocean, a criminal mastermind, gathers a...",7.2592,/MvYpKlpFukTivnlBhizGbkAe3v.jpg,2018-06-07,297718711,111,Released,Every con has its pros,Ocean's Eight,6.968,8540,80

### Rearrange `df_trend_100_details`'s columns to improve visual flow:

In [39]:
arranged_cols = ['movie_id', 'title', 'original_title', 'tagline', 
                 'overview', 'release_date', 'status', 'runtime', 
                 'vote_average', 'vote_count', 'popularity', 
                 'revenue', 'budget', 'poster_path']

In [40]:
df_trend_100_details = df_trend_100_details[arranged_cols]

In [41]:
df_trend_100_details

,movie_id,title,original_title,tagline,overview,release_date,status,runtime,vote_average,vote_count,popularity,revenue,budget,poster_path
0,269149,Zootopia,Zootopia,Welcome to the urban jungle.,"Determined to prove herself, Officer Judy Hopp...",2016-02-11,Released,109,7.751,16976,17.8957,1025521689,150000000,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg
1,14161,2012,2012,We Were Warned.,"Dr. Adrian Helmsley, part of a worldwide geoph...",2009-10-10,Released,158,5.863,12342,8.8947,791217826,200000000,/zaqam2RNscH5ooYFWInV6hjx6y5.jpg
2,118340,Guardians of the Galaxy,Guardians of the Galaxy,"When things get bad, they'll do their worst.","Light years from Earth, 26 years after being a...",2014-07-30,Released,121,7.904,28938,9.8085,772776600,170000000,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg
3,1477448,Haul Out the Halloween,Haul Out the Halloween,The block full of neighborly spirits.,"New, Halloween-obsessed neighbors inspire resi...",2025-10-11,Released,84,9.000,1,2.9390,0,0,/jbPRLRliQFZJumIjzuQ6qsODnKm.jpg
4,1100782,Smile 2,Smile 2,It's the last thing you'll see.,"About to embark on a new world tour, global po...",2024-10-16,Released,127,6.600,1821,13.9697,138128854,28000000,/ht8Uv9QPv9y7K0RvUyJIaXOZTfd.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,694,The Shining,The Shining,A masterpiece of modern horror.,Jack Torrance accepts a caretaker job at the O...,1980-05-23,Released,144,8.208,18238,11.6095,44781695,19000000,/xazWoLealQwEgqZ89MLZklLZD3k.jpg
96,539,Psycho,Psycho,A new and altogether different screen excitement!,When larcenous real estate clerk Marion Crane ...,1960-06-22,Released,109,8.421,10547,15.2826,50048065,806947,/yz4QVqPx3h1hD1DfqqQkCq3rmxW.jpg
97,436969,The Suicide Squad,The Suicide Squad,They’re dying to save the world.,"Supervillains Harley Quinn, Bloodsport, Peacem...",2021-06-06,Released,132,7.500,9179,17.0055,168717425,185000000,/q61qEyssk2ku3okWICKArlAdhBn.jpg
98,1102558,Pursued,Pursued,,After the death of her father a young woman st...,2023-03-25,Released,105,0.000,0,1.6704,0,0,/9htwnq0A79EWs674yu6ytwRSf4T.jpg
99,402900,Ocean's Eight,Ocean's Eight,Every con has its pros,"Debbie Ocean, a criminal mastermind, gathers a...",2018-06-07,Released,111,6.968,8540,7.2592,297718711,70000000,/MvYpKlpFukTivnlBhizGbkAe3v.jpg

In [42]:
df_trend_100_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   movie_id        100 non-null    int64
 1   title           100 non-null    object
 2   original_title  100 non-null    object
 3   tagline         100 non-null    object
 4   overview        100 non-null    object
 5   release_date    100 non-null    object
 6   status          100 non-null    object
 7   runtime         100 non-null    int64
 8   vote_average    100 non-null    float64
 9   vote_count      100 non-null    int64
 10  popularity      100 non-null    float64
 11  revenue         100 non-null    int64
 12  budget          100 non-null    int64
 13  poster_path     100 non-null    object
dtypes: float64(2), int64(5), object(7)
memory usage: 11.1+ KB

## 3. Load to BigQuery

In [ ]:
import os

In [ ]:
key_path = "E:\\BUTCAMP\\MATERI\\DATASET\\top-100-movies-474913-833ecf79c36c.json"

In [ ]:
from google.oauth2 import service_account
import pandas_gbq

In [ ]:
# 5a. Configuration

project_id = os.getenv("GCP_PROJECT_ID")
dataset_id =  os.getenv("BQ_DATASET")

# Setup credentials
scopes = ['https://www.googleapis.com/auth/bigquery']
credentials = service_account.Credentials.from_service_account_file(key_path, scopes=scopes)

In [ ]:
# 5b. Upload all table to BigQuery

table_list = {'trend':df_trend_100_details, 'genre':df_genre, 'movie_genre': df_movie_genre_id}

# Upload to BigQuery
for table_name,table  in table_list.items():
    pandas_gbq.to_gbq(dataframe=table,
                      destination_table=f'{dataset_id}.{table_name}',
                      project_id=project_id,
                      if_exists='replace',
                      credentials=credentials)

100%|██████████| 1/1 [00:00<00:00, 7244.05it/s]
100%|██████████| 1/1 [00:00<00:00, 4185.93it/s]
100%|██████████| 1/1 [00:00<00:00, 3072.75it/s]